body {
    color: #333;
    text-align: center;
    font-family: "Arial";
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 10px auto;
}

#cabecera {
    background-color: deepskyblue;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

#post {
    padding: 1em;
    color: #555;
}

#post h1 {
    font-size: 32px;
    font-weight: bold;
    color: #369;
}

